<h2>Portofolio Items</h2>
<%= link_to  "Create Porofolio", new_portofolio_path%>
<% @portofolio_items.each do |items| %>
  <p><%= link_to items.title , portofolio_path(items)%></p>
  <p><%= items.sub_title%></p>
  <p><%= items.body%></p>
  <p><%= image_tag items.thumb_image unless items.thumb_image.nil?%></p>
  <%= link_to 'edit portofolio', edit_portofolio_path(items) %>
<% end %>
